<?xml version="1.0" encoding="utf-8"?>
<!--
  Kiki — Copyright (C) 2026 kekeqwq
  SPDX-License-Identifier: GPL-3.0-or-later
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.kekeqwq.kiki"
    android:versionCode="5"
    android:versionName="1.4">

    <uses-sdk android:minSdkVersion="24" android:targetSdkVersion="34"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>

    <queries>
        <intent>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent>
    </queries>

    <application
        android:label="Kiki"
        android:icon="@drawable/i"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
        android:hardwareAccelerated="false"
        android:largeHeap="false"
        android:supportsRtl="true"
        android:theme="@style/T">
        <activity
            android:name=".HomeActivity"
            android:exported="true"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:configChanges="uiMode|orientation|screenSize|smallestScreenSize|screenLayout|density|keyboardHidden|locale|layoutDirection"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.HOME"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
